@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* FOOTER */
.pieDePagina {
  background-color: #dfebed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Langar', cursive;
  font-size: 1.2rem;
  color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 0px 0px 30px 1px black;
          box-shadow: 0px 0px 30px 1px black;
}

.redes a {
  text-decoration: none;
  color: black;
}

.redes p, .newsletter__titulo p {
  font-weight: bold;
}

.suscribirme:hover {
  background-color: #ffc107;
}

/* HEADER */
.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.container-fluid a img {
  height: 70px;
  border-radius: 0%;
  border: 1px solid #ffc107;
}

.navbar-dark .navbar-nav .nav-link {
  color: #dfebed;
  font-size: 1.4rem;
  margin: 0px 10px;
  font-family: 'Langar', cursive;
}

.header {
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 90;
  -webkit-box-shadow: 0px 0px 30px 1px #dfebed;
          box-shadow: 0px 0px 30px 1px #dfebed;
}

/* main */
.mainIndex {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Langar', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/negro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 70px;
  gap: 30px;
}

.mainIndex__titulo, .mainIndex__imagen {
  margin-top: 50px;
}

.mainIndex__titulo h1 {
  color: #ffc107;
  font-size: 5rem;
}

.mainIndex__titulo h2 {
  color: #ffc107;
  font-size: 2rem;
  margin-bottom: 30px;
}

.mainIndex__titulo h2 span {
  color: #ffc107;
  font-size: 3rem;
}

.mainIndex__titulo p {
  color: #dfebed;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.ondas {
  background-color: black;
}

/* secciones */
.secciones {
  font-family: 'Langar', cursive;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 150px;
  padding-bottom: 130px;
  background-color: #dfebed;
}

.Armamos, .Billetera, .Garantia, .Monitoreo, .Housing, .Componentes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  background-color: #dfebed;
  margin: 0px auto;
}

.Armamos__titulo a, .Housing__titulo a, .Componentes__titulo a {
  text-decoration: none;
  color: black;
}

.Armamos__imagen img, .Billetera__imagen img, .Garantia__imagen img, .Monitoreo__imagen img, .Housing__imagen img, .Componentes__imagen img {
  max-height: 200px;
  max-width: 200px;
}

.Armamos, .Garantia, .Housing {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.Armamos__titulo h2, .Billetera__titulo h2, .Garantia__titulo h2, .Monitoreo__titulo h2, .Housing__titulo h2, .Componentes__titulo h2 {
  font-size: 3rem;
}

.Armamos__titulo h2:hover {
  font-size: 3.1rem;
}

.Housing__titulo h2:hover {
  font-size: 3.1rem;
}

.Componentes__titulo h2:hover {
  font-size: 3.1rem;
}

.Armamos__titulo p, .Billetera__titulo p, .Garantia__titulo p, .Monitoreo__titulo p, .Housing__titulo p, .Componentes__titulo p {
  font-size: 1.3rem;
}

.Armamos__titulo, .Billetera__titulo, .Garantia__titulo, .Monitoreo__titulo, .Housing__titulo, .Componentes__titulo {
  max-width: 800px;
}

/* CONTACTO */
.mainContacto {
  font-family: 'Langar', cursive;
  color: #dfebed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainContacto__1 {
  height: 100vh;
  width: 100%;
  background-image: url(../img/negro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 50px;
}

.mainContacto__1 h1 {
  font-size: 3.5rem;
}

.mainContacto__1 h1 a {
  text-decoration: none;
  color: #dfebed;
}

.mainContacto__1 h1 span {
  color: #ffc107;
}

.mainContacto__1 img {
  height: 300px;
  padding-top: 70px;
}

.mainContacto__2 {
  background-color: #dfebed;
  padding-bottom: 130px;
}

.formulario {
  background-color: #f0eef0;
  max-width: 800px;
  color: black;
  margin: 0px auto;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px 1px black;
          box-shadow: 0px 0px 10px 1px black;
  border-radius: 20px;
}

.mainContacto__3 img {
  height: 300px;
}

.mainContacto__3 {
  background-color: #dfebed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 130px;
  -webkit-box-shadow: 0px 15px 20px -15px  black;
          box-shadow: 0px 15px 20px -15px  black;
}

.mainContacto__3 iframe {
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 0px 15px 20px -15px  black;
          box-shadow: 0px 15px 20px -15px  black;
}

.borrar, .enviar {
  background-color: #f6d5f6;
  padding: 3px;
  border-radius: 10px;
}

.enviar:hover {
  background-color: #ffc107;
}

.borrar:hover {
  background-color: #ffc107;
}

/* HOUSING */
.mainHousing {
  height: 100vh;
  width: 100%;
  background-image: url(../img/negro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Langar', cursive;
  color: #dfebed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainHousing__encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.mainHousing__encabezado h1 {
  font-size: 3.5rem;
  max-width: 600px;
}

.mainHousing__imagen img {
  height: 300px;
}

.mainHousing__encabezado h2 {
  font-size: 2.5rem;
}

.mainHousing__encabezado h1 span, .mainHousing__encabezado h2 span {
  color: #ffc107;
}

.housingServicios {
  background-color: #dfebed;
  padding-bottom: 130px;
  font-family: 'Langar', cursive;
}

.housingServicios ul li {
  font-size: 1.3rem;
  padding: 15px;
  text-align: center;
  list-style-position: inside;
}

.housingServicios a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.housingServicios a:hover {
  color: #ffc107;
}

/* ACADEMIA */
/* main */
.mainAcademia {
  height: 100vh;
  width: 100%;
  background-image: url(../img/negro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Langar', cursive;
  color: #dfebed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  gap: 10px;
  padding-bottom: 10px;
}

.titularAcademia p {
  font-size: 3rem;
}

.titularAcademia p span {
  color: #ffc107;
}

.gridAcademia {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 25px;
  width: 100%;
  max-width: 900px;
  height: 100vh;
  font-size: 1.5rem;
  letter-spacing: 2px;
  z-index: 2;
}

.gridAcademia__criptomonedas, .gridAcademia__blockchain, .gridAcademia__defis, .gridAcademia__minado, .gridAcademia__roi, .gridAcademia__hashrate {
  border: 1px solid #dfebed;
  text-align: center;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 13px 1px #dfebed;
          box-shadow: 0px 0px 13px 1px #dfebed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dfebed;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.gridAcademia__criptomonedas {
  background-image: url("../img/criptomonedas-nulas-1140x570.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gridAcademia__criptomonedas:hover {
  -webkit-filter: none;
          filter: none;
}

.gridAcademia__minado {
  background-image: url("../img/Minería.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gridAcademia__minado:hover {
  -webkit-filter: none;
          filter: none;
}

.gridAcademia__blockchain {
  background-image: url("../img/blockchain-informacion-agil-seguridad.1.12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gridAcademia__blockchain:hover {
  -webkit-filter: none;
          filter: none;
}

.gridAcademia__defis {
  background-image: url("../img/1613490263110_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gridAcademia__defis:hover {
  -webkit-filter: none;
          filter: none;
}

.gridAcademia__hashrate {
  background-image: url("../img/chart-12-640x336.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gridAcademia__hashrate:hover {
  -webkit-filter: none;
          filter: none;
}

.gridAcademia__roi {
  background-image: url("../img/Calculos-matematicos.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gridAcademia__roi:hover {
  -webkit-filter: none;
          filter: none;
}

.gridAcademia a {
  text-decoration: none;
  color: #dfebed;
}

/* definiciones */
.definiciones {
  font-family: 'Langar', cursive;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 150px;
  padding-bottom: 130px;
  background-color: #dfebed;
}

.criptomonedas__imagen img, .blockchain__imagen img, .defis__imagen img, .minado__imagen img, .roi__imagen img, .hashrate__imagen img {
  max-height: 200px;
  max-width: 200px;
}

.criptomonedas, .blockchain, .defis, .minado, .roi, .hashrate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #f0eef0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin: 0px auto;
  max-width: 1000px;
  -webkit-box-shadow: 0px 0px 10px 1px black;
          box-shadow: 0px 0px 10px 1px black;
  border-radius: 20px;
}

.blockchain, .minado, .hashrate {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.definiciones p {
  font-size: 1.1rem;
}

.definiciones span {
  color: #ffc107;
  font-weight: bold;
}

/* PRODUCTOS */
.mainProductos {
  height: 100vh;
  width: 100%;
  background-image: url(../img/negro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #dfebed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
  gap: 20px;
  padding-bottom: 10px;
}

.mainProductos__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 15px;
  width: 100%;
  max-width: 900px;
  height: 100vh;
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8 {
  border: 1px solid #dfebed;
  -webkit-box-shadow: 0px 0px 6px 1px #dfebed;
          box-shadow: 0px 0px 6px 1px #dfebed;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.grid1 {
  background-image: url("../img/grid2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid1:hover {
  -webkit-filter: none;
          filter: none;
}

.grid2 {
  background-image: url("../img/grid3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid2:hover {
  -webkit-filter: none;
          filter: none;
}

.grid3 {
  background-image: url("../img/grid4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid3:hover {
  -webkit-filter: none;
          filter: none;
}

.grid4 {
  background-image: url("../img/grid5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid4:hover {
  -webkit-filter: none;
          filter: none;
}

.grid5 {
  background-image: url("../img/grid6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid5:hover {
  -webkit-filter: none;
          filter: none;
}

.grid6 {
  background-image: url("../img/grid8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid6:hover {
  -webkit-filter: none;
          filter: none;
}

.grid7 {
  background-image: url("../img/grid7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid7:hover {
  -webkit-filter: none;
          filter: none;
}

.grid8 {
  background-image: url("../img/grid9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid8:hover {
  -webkit-filter: none;
          filter: none;
}

.sectionProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dfebed;
  gap: 100px;
  font-family: 'Langar', cursive;
  padding-bottom: 130px;
}

.productosParrafos {
  background-color: #f0eef0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 15px;
  max-width: 800px;
  margin: 0px auto;
  -webkit-box-shadow: 0px 0px 10px 1px black;
          box-shadow: 0px 0px 10px 1px black;
  border-radius: 20px;
}

.productosParrafos h1 {
  font-size: 2.5rem;
}

.productosParrafos a {
  text-decoration: none;
  color: black;
}

.productosParrafos ul li {
  font-size: 1.3rem;
  padding: 10px;
  list-style-position: inside;
}

/* rigs */
.productosRigs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rig1, .rig2 {
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 1px black;
          box-shadow: 0px 0px 10px 1px black;
  background-color: #f0eef0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  margin: 0px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.rig__palabras h3 {
  text-decoration: underline;
}

.plazoDeEntrega, .formasDePago {
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 1px black;
          box-shadow: 0px 0px 10px 1px black;
  background-color: #f0eef0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 600px;
  margin: 0px auto;
  padding: 20px;
  border-radius: 20px;
}

.plazoDeEntrega {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.formasDePago__svg img, .plazoDeEntrega__svg img {
  max-width: 100px;
  max-height: 100px;
}

.formasDePago .mayor, .plazoDeEntrega .mayor {
  font-size: 1.5rem;
  text-decoration: underline;
}

.formasDePago p, .plazoDeEntrega p {
  font-size: 1.2rem;
}

/* pulse */
.animate__animated.animate__pulse {
  --animate-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/* flash */
.animate__animated.animate__flash {
  --animate-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  html {
    font-size: 85%;
  }
  /* FOOTER */
  .pieDePagina {
    gap: 15px;
  }
  /* index */
  .mainIndex {
    gap: 20px;
  }
  .mainIndex__imagen img {
    height: 350px;
  }
  .mainIndex__titulo h2 {
    margin-bottom: 20px;
  }
  /* productos */
  .mainProductos__grid {
    gap: 10px;
    max-width: 650px;
  }
  .productosParrafos {
    max-width: 700px;
  }
  .rig1, .rig2 {
    width: 365px;
    padding: 10px;
  }
  /* housing */
  .mainHousing {
    padding: 0px 30px;
  }
  .mainHousing__encabezado {
    max-width: 480px;
  }
  .mainHousing__imagen img {
    height: 250px;
  }
  .housingServicios ul li {
    padding: 15px 40px;
  }
  /* academia */
  .gridAcademia {
    gap: 10px;
    max-width: 650px;
  }
  .criptomonedas, .blockchain, .defis, .minado, .roi, .hashrate {
    max-width: 700px;
  }
  /* contacto */
  .mainContacto__1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
    gap: 0px;
  }
  .mainContacto__1 img {
    height: 250px;
    padding-top: 70px;
  }
  .formulario {
    max-width: 700px;
  }
  .mainContacto__3 img {
    height: 250px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* tablet y phablet */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  html {
    font-size: 68%;
  }
  /* FOOTER */
  .pieDePagina {
    gap: 15px;
  }
  /* INDEX */
  .mainIndex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 150px 0px 0px 0px;
    text-align: center;
    gap: 10px;
  }
  .mainIndex__titulo, .mainIndex__imagen {
    margin-top: 0px;
  }
  .mainIndex__imagen img {
    height: 200px;
  }
  .mainIndex__titulo h2 {
    margin-bottom: 10px;
  }
  /* INDEX secciones */
  .secciones {
    gap: 90px;
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .Armamos, .Billetera, .Garantia, .Monitoreo, .Housing, .Componentes {
    padding: 0px 20px;
    gap: 10px;
  }
  .Armamos__imagen img, .Billetera__imagen img, .Garantia__imagen img, .Monitoreo__imagen img, .Housing__imagen img, .Componentes__imagen img {
    max-height: 150px;
    max-width: 150px;
  }
  /*PRODUCTOS  */
  .mainProductos__grid {
    gap: 8px;
    max-width: 450px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .grid6 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .sectionProductos {
    gap: 70px;
    padding-bottom: 80px;
  }
  .productosParrafos {
    max-width: 450px;
  }
  .productosRigs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 70px;
  }
  .rig1, .rig2, .plazoDeEntrega, .formasDePago {
    width: 450px;
  }
  /* HOUSING */
  .mainHousing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 100px;
  }
  .mainHousing__encabezado {
    text-align: center;
    gap: 15px;
    padding: 0px 20px;
  }
  .mainHousing__imagen img {
    height: 150px;
  }
  .housingServicios {
    padding-bottom: 80px;
  }
  /* ACADEMIA */
  .mainAcademia {
    padding-top: 60px;
  }
  .titularAcademia p {
    text-align: center;
  }
  .gridAcademia {
    max-width: 450px;
    gap: 8px;
  }
  .definiciones {
    padding-bottom: 80px;
    gap: 80px;
  }
  .criptomonedas, .blockchain, .defis, .minado, .roi, .hashrate {
    max-width: 450px;
  }
  /* CONTACTO */
  .mainContacto__1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 20px;
    gap: 15px;
    padding-top: 100px;
  }
  .mainContacto__1 img {
    height: 110px;
    padding-top: 0px;
  }
  .formulario {
    max-width: 450px;
  }
  .mainContacto__2, .mainContacto__3 {
    padding-bottom: 80px;
  }
  .mainContacto__3 img {
    height: 110px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .mainContacto__3 iframe {
    height: 180px;
    width: 180px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* telefono */
/*# sourceMappingURL=main.css.map */