/* PRODUCTOS */
.mainProductos {
    height: 100vh;
    width: 100%;
    background-image: url(../img/negro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; 
    color: #dfebed;
    align-items:center;
    justify-content: center;
    padding-top: 70px;
    gap: 20px;
    padding-bottom: 10px;
}
.mainProductos__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
    width: 100%;
    max-width: 900px;
    height: 100vh;
}
.grid1, .grid2,.grid3,.grid4,.grid5,.grid6, .grid7, .grid8 {
    border: 1px solid #dfebed;
    box-shadow: 0px 0px 6px 1px #dfebed;
    filter: grayscale(1);
}
.grid1 {
    background-image: url('../img/grid2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid1:hover {
    filter: none;
}
.grid2 {
    background-image: url('../img/grid3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid2:hover {
    filter: none;
}
.grid3 {
    background-image: url('../img/grid4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid3:hover {
    filter: none;
}
.grid4 {
    background-image: url('../img/grid5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid4:hover {
    filter: none;
}
.grid5 {
    background-image: url('../img/grid6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid5:hover {
    filter: none;
}
.grid6 {
    background-image: url('../img/grid8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid6:hover {
    filter: none;
}
.grid7 {
    background-image: url('../img/grid7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid7:hover {
    filter: none;
}.grid8 {
    background-image: url('../img/grid9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid8:hover {
    filter: none;
}
.sectionProductos {
    display: flex;
    flex-direction: column;
    background-color: #dfebed;
    gap: 100px;
    font-family: 'Langar', cursive;
    padding-bottom: 130px;
}
.productosParrafos {
    background-color: #f0eef0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
    max-width: 800px;
    margin: 0px auto;   
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 20px;
}
.productosParrafos h1 {
    font-size: 2.5rem;
}
.productosParrafos a {
    text-decoration: none;
    color: black;
}
.productosParrafos ul li {
    font-size: 1.3rem;
    padding: 10px;
    list-style-position: inside;
}
/* rigs */
.productosRigs {
    display: flex;
}
.rig1, .rig2 {
    text-align: center;
    box-shadow: 0px 0px 10px 1px black;
    background-color: #f0eef0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: 0px auto;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
}
.rig__palabras h3 {
    text-decoration: underline;
}
.plazoDeEntrega, .formasDePago {
    text-align: center;
    box-shadow: 0px 0px 10px 1px black;
    background-color: #f0eef0 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 20px;
}
.plazoDeEntrega {
    flex-direction: row-reverse;
}
.formasDePago__svg img, .plazoDeEntrega__svg img {
    max-width: 100px;
    max-height: 100px;
}
.formasDePago .mayor, .plazoDeEntrega .mayor {
    font-size: 1.5rem;
    text-decoration: underline;
}
.formasDePago p, .plazoDeEntrega p {
    font-size: 1.2rem;
}