* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

@import 'footer';
@import 'header';
@import 'index';
@import 'contacto';
@import 'housing';
@import 'academia';
@import 'productos';
@import 'animaciones';
@import 'mqtablet';
@import 'mqphablet';