/* telefono */
@media (min-width: 320px) and (max-width: 480px) {
    body {
        overflow-x: hidden;
    } 
    html {
        font-size: 50%;
    }
    /* header */
   /*  #cesta-carrito {
        display: none;
    } */
    /* FOOTER */
    .pieDePagina {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    /* INDEX*/
    .mainIndex {
        flex-direction: column;
        gap: 20px;
        padding: 100px 0px 0px 0px;
        text-align: center;
    }
    .mainIndex__titulo h2 {
        margin-bottom: 20px;

    }
    .mainIndex__titulo, .mainIndex__imagen {
        margin-top: 0px;
    }
    .mainIndex__imagen img {
        height: 200px;  
    }
   /* INDEX secciones */
   .secciones {
    gap: 50px;
    padding-bottom: 50px;   
    }
    .Armamos, .Billetera, .Garantia, .Monitoreo, .Housing, .Componentes {
    padding: 0px 15px;
    gap: 20px;    
    flex-direction: column;
    text-align: center;
    }
    .Armamos__imagen img, .Billetera__imagen img, .Garantia__imagen img, .Monitoreo__imagen img, .Housing__imagen img, .Componentes__imagen img {
        max-height: 100px;
        max-width: 100px;
    }
    .Armamos__titulo h2, .Billetera__titulo h2, .Garantia__titulo h2, .Monitoreo__titulo h2, .Housing__titulo h2, .Componentes__titulo h2 {
        margin-bottom: 20px;
    }
    /* PRODUCTOS */
    .mainProductos {
        padding-top: 50px;
    }
    .mainProductos__grid {
        gap: 8px;
        max-width: 290px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid6 {
        grid-row: 2/4;
        grid-column: 3/4;
    }
    .sectionProductos {
        gap: 50px;
        padding-bottom: 50px;
    }
    .productosRigs {
        flex-direction: column;
        gap: 50px;
    }
    .productosParrafos, .rig1, .rig2, .plazoDeEntrega, .formasDePago {
        width: 300px;
    }
    .formasDePago__svg img, .plazoDeEntrega__svg img {
        max-width: 80px;
        max-height: 80px;
    }
    /* HOUSING */
    .mainHousing {
        flex-direction: column;
    }
    .mainHousing__encabezado {
        text-align: center;
        gap: 15px;
        padding: 0px 20px;
    }
    .mainHousing__imagen img {
        height: 120px;
    }
    .housingServicios {
        padding: 0px 10px 50px 10px;
    }
    /* ACADEMIA */
    .mainAcademia {
        padding-top: 20px;
    } 
    .titularAcademia p {
        text-align: center;
    }  
    .gridAcademia {
        max-width: 290px;
        gap: 8px;
        grid-template-columns: 1fr 1fr;
    }
    .definiciones {
        padding-bottom: 50px;
        gap: 50px;
    }
    .criptomonedas, .blockchain, .defis, .minado, .roi, .hashrate {
        max-width: 300px;
        flex-direction: column;
        gap: 10px;
    }
    .criptomonedas__imagen img, .blockchain__imagen img, .defis__imagen img, .minado__imagen img, .roi__imagen img, .hashrate__imagen img {
        max-height: 100px;
        max-width: 100px;
    }
    /* CONTACTO */
    .mainContacto__1 {
        flex-direction: column;
        justify-content: center;
        padding: 0px 20px;
        gap: 30px;
        padding-top: 0px;
    }
    .mainContacto__1 img {
        height: 100px;
        padding-top: 0px;
    }
    .formulario {
        max-width: 300px;
    }
    .textarea {
        max-width: 270px;
    }
    .mainContacto__2, .mainContacto__3 {
        padding-bottom: 50px;
    }
    .mainContacto__3 {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .mainContacto__3 img {
        height: 110px;
        align-self: center;
    }
    .mainContacto__3 iframe {
        height: 150px;
        width: 150px;
        align-self: center;
    }
}